body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#121212;

    color:white;
}

.App{

    width:80%;

    margin:auto;

    padding-top:40px;
}

h1{

    text-align:center;

    margin-bottom:40px;

    font-size:40px;
}