.player{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #181818;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 25px;

    box-sizing: border-box;

    border-top: 1px solid #333;
}

.player-info h2{

    margin:0;

    color:white;
}

.player-info p{

    margin-top:5px;

    color:#aaa;
}

.player-controls{

    display:flex;

    align-items:center;

    gap:18px;
}

.player-controls button{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    background:#2d2d2d;

    color:white;

    cursor:pointer;

    font-size:18px;

    transition:.25s;
}

.player-controls button:nth-child(2){

    width:50px;

    height:50px;

    background:#1DB954;

    font-size:24px;
}

.player-controls button:hover{

    transform:scale(1.1);
}

.player-info{

    display:flex;

    align-items:center;

    gap:18px;
}

.player-cover{

    width:65px;

    height:65px;

    border-radius:12px;

    object-fit:cover;

    box-shadow:0 5px 15px rgba(0,0,0,.4);
}

.song-details{

    display:flex;

    flex-direction:column;
}

.player-duration{

    min-width:60px;

    margin-left:20px;

    color:#b3b3b3;

    font-size:15px;

    font-weight:500;

    text-align:right;
}

.player-left{
    display:flex;
    align-items:center;
    gap:15px;
    width:25%;
}

.player-cover{
    width:60px;
    height:60px;

    object-fit:cover;

    border-radius:8px;
}

.song-details h2{
    margin:0;
    font-size:18px;
}

.song-details p{
    margin:4px 0 0;
    color:#b3b3b3;
    font-size:14px;
}

.player-center{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-right{
    width: 25%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.progress-container{
    width: 80%;

    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-container input{
    flex: 1;
}